@import "vars";


/*==========  Desktop First  ==========*/

// ≥1200px
@include media-breakpoint-down(lg) {
    .header__content-wrap {
        grid-template-columns: 1fr;
        text-align: center;
    }

    .content__items {
        padding-top: 0!important;

        &:last-of-type {
            grid-row: 1 / 2;
        }
    }
    .items__block-right {
        img {
            max-width: 120%;
        }
    }
    .conditions {
        padding: 60px 0;

        &-title {
            text-align: center;
        }
    }
}

// ≥992px
@include media-breakpoint-down(md) {
    .conditions__items {
        grid-template-columns: 1fr!important;
    }
}

// ≥768px
@include media-breakpoint-down(sm) {

}

// ≥576px
@include media-breakpoint-down(xs) {
    .content__items-title {
        font-size: 40px!important;
    }

    .navigation__item {
        padding-right: 30px!important;
    }

    .modal__wraper {
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transform: translate(0);
    }

    .modal__content {
        width: 100%;
        height: 100%;
    }
}

@media (max-width: 400px) {
    .gift-title {
        font-size: 25px;
        line-height: 34px;
    }
    .conditions {
        padding: 30px 0;
    }

    .conditions__items {
        grid-gap: 15px!important;
    }
    .conditions-title {
        font-size: 30px;
        padding-bottom: 25px;
        line-height: 39px;
    }

    .gift__wrap {
        padding: 30px;
        text-align: center;

        &:before {
            display: none;
        }
    }

    .btn {
        display: block;
    }

    .content__items-text {
        height: 153px;
    }

    .content__items-title {
        height: 240px;
    }

    .content__items img{
        width: 330px;
        height: 211px;
    }
}

/*==========  Mobile First  ==========*/

// ≤576px
@include media-breakpoint-up(sm) {
    
}

// ≤768px
@include media-breakpoint-up(md) {

}

// ≤992px
@include media-breakpoint-up(lg) {

}

// ≤1200px
@include media-breakpoint-up(xl) {
	
}
