@import "vars";
@import "fonts";
@import "libs";


body {
	background-color: #E5E5E5;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-size: 16px;
	font-family: 'whitney';
	color: $text;
	font-weight: 350;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 15px;
}

h1,h2,h3,h4,h5,h6,ul,li {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.grid {
	display: grid;
}

.flex {
	display: flex;
}

input,button {
	outline: none;
	border: none;
}

input[type="text"],input[type="password"],input[type="email"] {
	background: #FFFFFF;
	border: 1px solid #DDDAE7;
	box-sizing: border-box;
	border-radius: 4px;
	color: #918D9A;
	padding: 15px;
}

input::placeholder {
	color: #918D9A;
}

a {
	text-decoration: none;

	&:hover {
		text-decoration: none;
	}
}

.btn {
	padding: 16px 60px;
	border-radius: 4px;
	align-items: center;
	font-weight: 600;
	font-size: 18px;
	line-height: 18px;
	color: #fff;
	background-color: $accent;
	cursor: pointer;

	&:hover {
		color: #fff;
	}
}

.header {
	background: $accentBg;
	padding-bottom: 93px;

	&__top {
		justify-content: space-between;

		&-logo {
			padding: 30px 0;
		}
		&-navigation {
			.navigation {
				height: 100%;
				align-items: center;
				
				&__item {
					padding-right: 100px;

					a {
						font-size: 18px;
						color: #fff;
					}

					&.auth {
						align-items: center;

						img {
							margin-right: 12px;
							height: 24px;
							width: 24px;
						}
					}

					&:last-of-type {
						padding-right: 0px!important
					}
				}
			}
		}
	}
	&__content {
		&-wrap {
			grid-template-columns: 530px 1fr;

			.content__items {
				padding-top: 80px;

				&-title {
					font-size: 50px;
					color: #fff;
					font-weight: 600;
					line-height: 120%;
					padding-top: 45px;
					padding-bottom: 50px;
				}

				&-text {
					font-size: 24px;
					line-height: 31px;
					color: #fff;
					padding-bottom: 60px;
				}

				img {
					max-width: 100%;
					max-height: 100%;
				}
			}
		}
	}
}

.conditions {
	padding: 135px 0;

	&-title {
		font-size: 40px;
		font-weight: 600;
		padding-bottom: 60px;
		line-height: 52px;
	}

	.conditions__items {
		grid-template-columns: repeat(2, minmax(100px, 1fr));
		grid-gap: 30px;

		&-block {
			background: #F6F5F9;
			border-radius: 6px;
			padding: 30px;
			justify-content: space-between;

			.items__block-title {
				font-weight: 600;
				font-size: 22px;
				line-height: 29px;
				padding-bottom: 22px;
			}
			.items__block-text {
				width: 270px;
				font-size: 16px;
				line-height: 142%;
			}
		}
	}
}

.gift {
	margin-bottom: 50px;

	&__wrap {
		padding: 70px;
		background: $accentBg;
		position: relative;
		border-radius: 10px;

		&:before {
			content: '';
			background-image: url(../img/_src/gift-bg.png);
			background-repeat: no-repeat;
			position: absolute;
			right: 0;
			width: 100%;
			height: 100%;
			max-height: 310px;
			max-width: 700px;
			background-position: top right;
			top: 27px;
			background-size: contain;
		}
	}

	&-title {
		font-weight: 600;
		font-size: 34px;
		line-height: 45px;
		color: #FFFFFF;
		padding-bottom: 46px;
		max-width: 557px;
		z-index: 999;
		position: relative;
	}

	.btn {
		position: relative;
	}
}

.modal {
	background-color: rgba(28, 24, 47, 0.3);
	width: 100%;
	height: 100%;
	position: fixed;
	backface-visibility: hidden;
	visibility: hidden;
	opacity: 0;
	transition: visibility 0.3s, opacity 0.5s;

	&.active {
		backface-visibility: visible;
		visibility: visible;
		opacity: 1;
	}

	&__wraper {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	&__content {
		background-color: #fff;
		padding: 55px;
		border-radius: 6px;
		width: 490px;
		position: relative;

		.modal__close {
			position: absolute;
			font-size: 42px;
			width: 42px;
			height: 42px;
			right: 10px;
			top: 10px;
			justify-content: center;
			display: flex;
			align-items: center;
			color: #918D9A;
			cursor: pointer;
		}
	}

	&__title {
		font-weight: 600;
		font-size: 40px;
		line-height: 52px;
		text-align: center;
		padding-bottom: 50px;
	}

	.wrap__input {
		flex-flow: column;

		label {
			font-size: 18px;
			line-height: 24px;
			color: #474351;
			margin-bottom: 15px;
		}

		input {
			margin-bottom: 35px;
		}
	}
	.btn {
		width: 100%;
	}
}

@import "media"; // Always at the end
